@import url('https://fonts.googleapis.com/css?family=Gothic+A1:700,800,900|Lato|Playfair+Display:700');


html { 
  background: url(../img/background_img.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
}

body{
  height: 100%;
  position: relative;
}

.header{
  display: flex;
  /*background-color: #B7B0B0;*/
  height: 50px;
  padding: 10px;
  text-align: center;
  justify-content: space-between;
  color: #ffffff;
}

.logo{
  font-size: 2em;
  font-family: 'Playfair Display', serif;
  cursor: pointer;
}

.right-header-div{
  margin-top: 7px;
  display: flex;
  text-align: center;
}

.line-div{
  background-color: #FD52FD;
  width: 50px;
  height: 1px;
  margin-top: 10px;
  margin-right: 7px;
}

.contact{
  font-family: 'Lato', sans-serif;
  font-size: 1.05em;
}

#purple{
  color: #FD52FD;
}


.text-div{
  display: flex;
  text-align: end;
  width: 100%;
  justify-content: flex-end;
  color: #ffffff;
  margin-top: 200px;
}

h2{
  font-family: 'Gothic A1', sans-serif;
  font-size: 55px;
  margin-top: 0;
  margin-bottom: 0;
}

.text{
  margin-right: 50px;
}

#btn {
  text-decoration: none;
  color: #ffffff;
  background: transparent;
  border: solid 1.3px;
  border-color: #FD52FD;
  margin-top: 35px;
  height: 42px;
  font-family: 'Lato', sans-serif;
  font-size: 0.7em;
}

.footer {
  display: flex;
  height: 50px;
  text-align: center;
  /*background: #ffffff;*/
  bottom: 0px;
  position: absolute;
  width: 100%;
  justify-content: space-between;
}

.left-footer-div{
  margin-top: 10px;
  display: inline-flex;
  text-align: center;
}

.suscribe{
  color: #ffffff;
  font-size: 1.05em;
  margin-right: 7px;
  font-family: 'Lato', sans-serif;
}

.line{
  background-color: #FD52FD;
  width: 50px;
  height: 1px;
  margin-top: 11px;
  margin-left: 2px;
}

/* adding social media icons*/
.social-container{
  display: flex;
  /*background: #000000;*/
  height: 50px;
  width: 200px;
  justify-content: space-evenly;
  text-align: center;
  padding-top: 10px;
}

.fab{
  color: #FD52FD;
  font-size: 1.2em;
}
